# Nix
result
result-*
.direnv
.envrc.local

# Editor
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# direnv
.envrc.local

# Templates: let project owners decide when to lock versions
flake.lock
**/flake.lock
